<div class="card mb-4">
  <div class="card-img-wrapper">
    <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="{{ member.knownAs }}" />
    <img [hidden]="imageLoading" (load)="onLoad()" class="card-img-top" src="{{ member.photoUrl || '/assets/images/user.png' }}" alt="{{ member.knownAs }}" />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button routerLink="/members/{{ member.username }}" class="btn btn-one success white-icon"><i class="fa fa-user"></i></button>
      </li>
      <li class="list-inline-item">
        <button (click)="addLike(member)" class="btn btn-one success"><i class="fa fa-heart white-icon"></i></button>
      </li>
      <li class="list-inline-item">
        <button routerLink="/members/{{ member.username }}" [queryParams]="{ tab: 3 }" class="btn btn-one success"><i class="fa fa-envelope white-icon"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <p class="card-text text-center mb-1">
      <span [ngClass]="(presence.onlineUsers$ | async).includes(member.username) ? 'is-online' : 'user-icon'"> <i class="fa fa-user mr-1"></i> </span>
      {{ member.knownAs }}, {{ member.age }}, {{ member.city }}
    </p>
    <p class="card-text text-muted text-center"><i class="fa fa-location-arrow mr-2"> </i>{{ member.country }}</p>
  </div>
</div>
