<div>
  <div *ngIf="(messageService.messageThread$ | async)?.length >= 0" class="card-body">
    <div *ngIf="(messageService.messageThread$ | async)?.length === 0">No messages yet... say hi by using the message box below</div>

    <ul #scrollMe style="overflow: auto; height: 75vh" [scrollTop]="scrollMe.scrollHeight" class="chat">
      <div>
        <li *ngFor="let message of messageService.messageThread$ | async" [ngClass]="message.senderUsername !== username ? 'chat-right  ' : 'chat-left '">
          <span [ngClass]="message.senderUsername !== username ? 'float-right' : 'float-left'" class="chat-img">
            <img src="{{ message.senderPhotoUrl || './assets/images/user.png' }}" alt="" class="rounded-circle" />
          </span>
          <div class="chat-body">
            <div [ngClass]="message.senderUsername !== username ? 'text-right' : ''" class="header">
              <div class="text-muted">
                <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username"> (unread) </span>
                <span class="fa fa-clock-o">{{ message.messageSent | timeago }}</span>
                <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username"> (read) {{ message.dateRead | timeago }} </span>
              </div>
              <p [ngClass]="message.senderUsername !== username ? 'text-right' : ''">{{ message?.content }}</p>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input name="messageContent" required [(ngModel)]="messageContent" type="text" class="form-control input-sm" placeholder="Send a private message" />
        <div class="input-group-append">
          <button [disabled]="!messageForm.valid || loading" class="btn btn-two" type="submit">
            Send
            <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
