<div>
  <div class="card-body">
    <div *ngIf="messages?.length === 0">No messages yet... say hi by using the message box below</div>

    <ul class="chat" *ngIf="messages?.length > 0">
      <li *ngFor="let message of messages">
        <div>
          <!-- [ngClass]="message.senderUsername !== username ? 'float-right' : 'float-left'" -->
          <span class="float-right chat-img">
            <img src="{{ message.senderPhotoUrl || './assets/images/user.png' }}" alt="" class="rounded-circle" />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username"> (unread) </span>
                <span class="fa fa-clock-o">{{ message.messageSent | timeago }}</span>
                <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username"> (read) {{ message.dateRead | timeago }} </span>
              </small>
              <p>{{ message?.content }}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form>
      <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Send a private message" />
        <div class="input-group-append">
          <button class="btn btn-outline" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
