.img-thumbnail {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.card {
  color: white;
  border-radius: 20px;
  background-color: #00a1646b;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  border-top: none;
}

.card-footer button {
  margin-top: 10px;
}

.fa {
  margin-left: 8px;
}

button:hover .fa {
  transform: scale(2);
}

button:hover .fa-heart {
  color: tomato;
}

button:hover .fa-comment {
  color: rgb(0, 121, 0);
}

button:hover {
  box-shadow: 0px 0px 20px 10px rgba(73, 73, 73, 0.473);
}

.col-md-4 {
  margin-bottom: 20px;
}

.form-group {
  margin-left: 20px;
}
