.img-thumbnail {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.card {
  color: white;
  border-radius: 20px;
  background-color: #00a1646b;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  border-top: none;
}

.card-footer button {
  margin-top: 10px;
}

button:hover .fa {
  transform: scale(2);
}

button:hover .fa-heart {
  color: tomato;
}

button:hover .fa-comment {
  color: rgb(0, 121, 0);
}
