<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">FindYourMatch</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/members">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/messages" tabindex="-1" aria-disabled="true">Messages</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/errors" tabindex="-1" aria-disabled="true">Errors</a>
        </li>
      </ul>
      <div dropdown *ngIf="accountService.currentUser$ | async as user" class="dropdown ml-auto">
        <a dropdownToggle class="dropdown-toggle text-light">Welcome {{ user.username | titlecase }}</a>
        <div *dropdownMenu class="dropdown-menu mt-3">
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex ml-auto" (ngSubmit)="login()" autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username" />
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
