.dropdown-menu {
  background-color: #004d2fa6;
  border-radius: 10px;
  color: white;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
  color: white;
  background-color: transparent;
}

.dropdown-item:hover {
  color: #d1d1d1;
}

.container-fluid,
.navbar {
  background-color: rgba(0, 0, 0, 0.514);
  filter: brightness(90%);
  background: url("/assets/images/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

button {
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    box-shadow: inset 0 0 20px 2000px rgba(0, 0, 0, 0.151);
  }
}

img {
  max-height: 50px;
  display: inline;
}

.badge {
  background-color: rgba(255, 201, 54, 0.781);
  color: white;
  border-radius: 2rem;
  font-size: 100%;
  font-weight: 400;
}

.nav-link {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

input {
  border-radius: 20px;
}

input:focus {
  box-shadow: tomato !important;
}
