<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center">Sign Up</h2>
  <hr />

  <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
  <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'" [type]="'password'"></app-text-input>

  <div class="form-group text-center">
    <button class="btn btn-outline mr-2 btn-xl shadow-none" type="submit">Register</button>
    <button class="btn btn-outline mr-2 btn-xl shadow-none" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>
