.img-thumbnail {
  margin: 25px;
  background-color: transparent;
  border: none;
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.card {
  color: white;
  border-radius: 20px;
  background-color: #00a1646b;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  border-top: none;
}

.container-fluid {
  color: black;
}

textarea,
textarea:focus {
  color: rgba(255, 255, 255, 0.644);
  border: none;
  background-color: #b1b1b146;
}

textarea:focus {
  color: white;
  background-color: #b1b1b146;
}

.alert {
  background-color: #ffc227af;
  color: white;
  border: none;
}

p {
  color: rgba(255, 255, 255, 0.644);
}

button {
  background-color: transparent;
}
