/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik:wght@300;400&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
.container {
  margin-top: 60px;
}

.container-fluid {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 30px;
  color: white;
  filter: brightness(90%);
  background: url("/assets/images/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
  overflow: auto;
}

.container-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding-left: auto;
  padding-right: auto;
}

.card {
  border: none !important;
}

.btn-one {
  background-color: #00a1646b;
  border: none;
}

.btn-two {
  background-color: #fca709b4;
  border: none;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover:enabled,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  border-color: #daa725dc;
  background-color: #daa725dc;
}

.btn {
  border-radius: 300px;
  font-size: 11px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-filter {
  background-color: black;
  border: none;
}

.btn-filter.active {
  background-color: #c08f11;
  border: none;
}

.btn:focus {
  box-shadow: none;
}

button:hover {
  box-shadow: 0px 0px 20px 10px rgba(34, 34, 34, 0.192);
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.success:hover {
  border-color: #0a6425af;
  background-color: #0a6425af;
}

.input,
input {
  border-radius: 20px;
}

.input,
.input:focus {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.918);
  border: none;
  background-color: #b1b1b146;
}

.input:focus {
  color: white;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.795);
}

.bg-transparent {
  background-color: transparent;
}

.invalid-feedback {
  color: #fdcc52;
}

/* Datepicker Styling */

.bs-datepicker-container {
  padding: 0px;
  border-radius: 20px;
}

.bs-datepicker {
  padding: 0px;
  border-radius: 20px;
  background-color: #333333d8;
}

.bs-calendar-layout {
  border-radius: 20px !important;
}

.bs-datepicker-head {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bs-datepicker-body {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bs-datepicker-body table td {
  color: rgb(140, 165, 185);
}

.bs-datepicker-body table td span.is-other-month,
.bs-datepicker-body table td.is-other-month span {
  color: rgba(133, 133, 133, 0.808);
}

/* Styling Membe Tabset */
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

/* 
.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
   border-bottom: 4px solid #fbcdcf; 
}
.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
} */

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  /* border-bottom: 4px solid #e95420; */
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #e0363f !important;
}

.member-tabset > .tab-content {
  border-radius: 20px;
  color: white;
  margin-top: -3px;
  background-color: #00a1646b;
  border: 0;
  padding: 15px 15px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link.active {
  color: white !important;
  padding-left: 10px;
  padding-right: 10px !important;
  border-radius: 20px;
  background-color: #00a1646b !important;
}

a.nav-link {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: rgba(255, 255, 255, 0.801) !important;
}

.nav-tabs .nav-link {
  border: 0 !important;
}

/* Pagination */
.page-link {
  border: none;
  background-color: #636363d0;
  color: white;
}

.page-item.active .page-link {
  border: none;
  border-radius: 10px;
  background-color: #00a1646b;
  color: white;
}

.page-link:hover {
  border-radius: 10px !important;
  background-color: #fca709b4 !important;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.page-item:last-child .page-link {
  margin-left: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.page-item.disabled .page-link {
  color: rgb(182, 182, 182);
  background-color: #636363d0;
}

.toast-error {
  border-radius: 40px !important;
  background-color: #b6260dbb !important;
}

.toast-success {
  border-radius: 40px !important;
  background-color: #0db61bbb !important;
}

.toast-info {
  border-radius: 40px !important;
  background-color: #09db9cd3 !important;
}

.toast-warning {
  border-radius: 40px !important;
  background-color: #dd6520d8 !important;
}

.fa-clock-o::before {
  margin-right: 3px !important;
}

.modal-content {
  border-radius: 20px;
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #353535cb;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: #e2e2e29f;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
