img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  color: rgb(223, 223, 223);
  max-width: 230px;
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}
